<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodiva">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Foodiva"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.foodiva.Activities.SettingsActivity"></activity>
        <activity android:name="com.example.foodiva.Activities.MainActivity" />
        <activity android:name="com.example.foodiva.Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>